{% extends 'base.html' %}
{% block content %}
<div class="center">
<h1>Résultat du Probléme inverse</h1>
<div class="box">
    <div>
        <label>l'azimut direct :</label>
        <input value="{{ALPHA12}}" readonly>
    </div>
    <div>
        <label>l'azimut inverse :</label>
        <input value="{{ALPHA21}}" readonly>
    </div>
    <div>
        <label>la distance géodesique</label>
        <input value="{{s}}" readonly>
    </div>
</div>

<div class="row">
    <h2 class="visualisation">Visualisation</h2>
    {{plot|safe}}
</div>
</div>
{% endblock %}
